* {
  box-sizing: border-box; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

body {
  background-color: #fbfbf8; }
  body .sitetitle {
    margin: 5% auto 0;
    width: 328px; }
    body .sitetitle span {
      font-size: 50px;
      font-family: 'Arialblack';
      font-weight: bold;
      float: left; }
    body .sitetitle span.title-useless {
      color: #3D3D29; }
    body .sitetitle span.title-box {
      color: #FF6600; }
  body .count {
    box-sizing: border-box;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 40px; }
    body .count .count-box {
      width: 200px;
      padding: 10px;
      background-color: #9ea1a7;
      margin: 10px 0; }
      body .count .count-box #activeUsers, body .count .count-box #clickCount {
        font-size: 24px;
        font-weight: bold; }
      body .count .count-box span.title {
        font-size: 24px; }
      body .count .count-box span.number {
        float: right; }

#tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 550px;
  background: transparent;
  top: 120px; }

.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d; }

.scene {
  z-index: 500;
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -680px 0 0 -585px;
  -webkit-transform: rotateX(-18deg) rotateY(-39deg);
  -moz-transform: rotateX(-18deg) rotateY(-39deg);
  -ms-transform: rotateX(-18deg) rotateY(-39deg);
  transform: rotateX(-18deg) rotateY(-39deg); }

.face {
  border: 0px solid gray; }

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
  background: -webkit-linear-gradient(left, #7B6E6E 0%, #595D62 1%, #B9BCC2 66%, #3E4042 100%); }
  .shape .face {
    background-size: 100% 100% !important;
    background-position: center;
    overflow: hidden;
    transform-origin: 0 0;
    backface-visibility: hidden;
    /* hidden by default, prevent blinking and other weird rendering glitchs */ }
    .shape .face .photon-shader {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
  .shape .face-wrapper .face {
    left: 100%;
    width: 100%;
    height: 100%; }
  .shape .side {
    left: 50%;
    height: 100%; }

[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%; }

[class*="cuboid"] .bk {
  left: 100%; }

[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%); }

[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%); }

[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%); }

[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%); }

[class*="cuboid"] .lt {
  left: 100%; }

[class*="cuboid"] .bm {
  top: 100%; }

[class*="cylinder"] .tp {
  transform: rotateX(90deg) translateY(-50%); }

[class*="cylinder"] .bm {
  transform: rotateX(-90deg) translateY(-50%); }

[class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
  border-radius: 50%; }

[class*="cylinder"] .bm {
  top: 100%; }

/* .cub-1 styles */
.cub-1 {
  transform: translate3D(0em, -0.3125em, -4.625em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 30em;
  height: 10em;
  margin: -5em 0 0 -15em; }
  .cub-1 .ft {
    transform: translateZ(0.5em);
    border-right: none;
    background: -webkit-linear-gradient(left, #32323A 5%, #313145 -6%, #52525D 31%, #29292C 89%); }
  .cub-1 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .cub-1 .rt {
    width: 1em;
    height: 10em;
    border-left: none; }
  .cub-1 .lt {
    width: 1em;
    height: 10em;
    border-right: none;
    background: -webkit-linear-gradient(left, #5E5E6B 5%, #5E5E6B -6%, #5E5E6B 31%, #5E5E6B 89%) !important; }
  .cub-1 .tp, .cub-1 .bm {
    width: 30em;
    height: 1em;
    background: -webkit-linear-gradient(left, #32323A 5%, #313145 -6%, #52525D 31%, #29292C 89%); }
  .cub-1 .face {
    background-color: #FFFFFF; }

/* .cub-2 styles */
.cub-2 {
  transform: translate3D(0em, -0.3125em, 9.3125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 30em;
  height: 10em;
  margin: -5em 0 0 -15em; }
  .cub-2 .ft {
    transform: translateZ(0.5em); }
  .cub-2 .bk {
    transform: translateZ(-0.5em) rotateY(180deg); }
  .cub-2 .rt {
    width: 1em;
    height: 10em;
    border-right: none; }
  .cub-2 .lt {
    width: 1em;
    height: 10em;
    background: -webkit-linear-gradient(left, #4B4D4F 5%, #4B4D4F -6%, #4B4D4F 31%, #4D4F51 89%) !important;
    border-right: none; }
  .cub-2 .tp, .cub-2 .bm {
    width: 30em;
    height: 1em; }
  .cub-2 .face {
    background-color: #FFFFFF;
    background: -webkit-linear-gradient(left, #7B6E6E 0%, #595D62 1%, #B9BCC2 66%, #3E4042 100%); }

/* .cub-3 styles */
.cub-3 {
  transform: translate3D(-14.5em, -0.3125em, 2.375em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 10em;
  margin: -5em 0 0 -0.5em; }
  .cub-3 .ft {
    transform: translateZ(6.5em); }
  .cub-3 .bk {
    transform: translateZ(-6.5em) rotateY(180deg); }
  .cub-3 .rt, .cub-3 .lt {
    width: 13em;
    height: 10em;
    background: -webkit-linear-gradient(left, #32323A 5%, #313145 -6%, #52525D 31%, #29292C 89%); }
  .cub-3 .tp, .cub-3 .bm {
    width: 1em;
    height: 13em;
    background: -webkit-linear-gradient(left, #32323A 5%, #313145 -6%, #52525D 31%, #29292C 89%); }
  .cub-3 .face {
    background-color: #FFFFFF; }

/* .cub-4 styles */
.cub-4 {
  transform: translate3D(14.5em, -0.3125em, 2.3125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 1em;
  height: 10em;
  margin: -5em 0 0 -0.5em; }
  .cub-4 .ft {
    transform: translateZ(6.5em);
    border-right: none;
    background-color: #4B4D4F; }
  .cub-4 .bk {
    transform: translateZ(-6.5em) rotateY(180deg); }
  .cub-4 .rt, .cub-4 .lt {
    z-index: 999;
    width: 13em;
    height: 10em;
    border-left: none;
    border-right: none;
    background: -webkit-linear-gradient(left, #4B4D4F 5%, #4B4D4F -6%, #7E7E8B 31%, #5E5E6B 89%); }

/* .cub-5 styles */
.cub-5, .lid {
  transform: translate3D(-7.5em, -6.25em, 2.32008em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 15em;
  height: 2em;
  margin: -1em 0 0 -7.5em;
  -webkit-transition: all 0.2s ease-in-out 220ms;
  -moz-transition: all 0.2s ease-in-out 220ms;
  -o-transition: all 0.2s ease-in-out 220ms;
  transition: all 0.2s ease-in-out 220ms; }
  .cub-5 .ft, .lid .ft {
    transform: translateZ(7.5em);
    background: -webkit-linear-gradient(left, #606469 0%, #64686D 1%, #6F7378 31%, #989BA1 89%); }
  .cub-5 .bk, .lid .bk {
    transform: translateZ(-7.5em) rotateY(180deg); }
  .cub-5 .rt, .cub-5 .lt, .lid .rt, .lid .lt {
    width: 15em;
    height: 2em;
    background: -webkit-linear-gradient(left, #4B4D4F 5%, #4B4D4F -6%, #7E7E8B 31%, #5E5E6B 89%); }
  .cub-5 .tp, .lid .tp {
    width: 15em;
    height: 15em;
    background: -webkit-linear-gradient(left, #090A0B 0%, #64676E 1%, #7B8084 31%, #A4A4A5 89%); }
  .cub-5 .bm, .lid .bm {
    width: 15em;
    height: 15em;
    background: -webkit-linear-gradient(left, #090A0B 0%, #3A3B3F 1%, #3A3C3D 31%, #5E5E6B 89%); }
  .cub-5 .face, .lid .face {
    background-color: #FFFFFF; }

.lid.active {
  top: 46.9%;
  left: 589px;
  transform: translate3D(-7.5em, -6.25em, 2.32008em) rotateX(0deg) rotateY(0deg) rotateZ(-20deg); }

/* .cub-6 styles */
.cub-6 {
  transform: translate3D(7.5em, -6.25em, 2.3125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 15em;
  height: 2em;
  margin: -1em 0 0 -7.5em; }
  .cub-6 .ft {
    transform: translateZ(7.5em);
    background: -webkit-linear-gradient(left, #A7ABB0 0%, #A8ABB1 1%, #B1B4BA 31%, #4B4D4F 89%); }
  .cub-6 .bk {
    transform: translateZ(-7.5em) rotateY(180deg); }
  .cub-6 .rt, .cub-6 .lt {
    width: 15em;
    height: 2em;
    background: -webkit-linear-gradient(left, #4B4D4F 5%, #4B4D4F -6%, #7E7E8B 31%, #5E5E6B 89%); }
  .cub-6 .tp, .cub-6 .bm {
    width: 15em;
    height: 15em;
    background: -webkit-linear-gradient(left, #989BA1 5%, #9FA0A1 -6%, #AEB1B7 31%, #5E5E6B 89%); }
  .cub-6 .face {
    background-color: #FFFFFF; }

/* .cyl-1 styles */
.cyl-1 {
  transform: translate3D(3.9375em, -7.5em, 2.0625em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity: 1;
  width: 2.5em;
  height: 0.7em;
  margin: -0.35em 0 0 -1.25em; }
  .cyl-1 .tp, .cyl-1 .bm {
    width: 2.5em;
    height: 2.5em;
    background: -webkit-linear-gradient(left, #8F8F94 5%, #808098 -6%, #A2A2BA 31%, #76768C 89%); }
  .cyl-1 .side {
    width: 0.5956086859753749em;
    height: 0.7em;
    background: -webkit-linear-gradient(left, #8F8F94 5%, #808098 -6%, #A2A2BA 31%, #76768C 89%); }
  .cyl-1 .s0 {
    transform: rotateY(12.85714deg) translate3D(-50%, 0, 1.225em);
    background: -webkit-linear-gradient(left, #ADAFB5 5%, #AEB1B7 -6%, #A8AAB1 31%, #95979F 89%); }
  .cyl-1 .s1 {
    transform: rotateY(38.57143deg) translate3D(-50%, 0, 1.225em);
    background: -webkit-linear-gradient(left, #AEB1B7 5%, #ADB0B6 -6%, #ADB0B6 31%, #ADB0B6 89%); }
  .cyl-1 .s2 {
    transform: rotateY(64.28571deg) translate3D(-50%, 0, 1.225em);
    background: -webkit-linear-gradient(left, #9D9FA7 5%, #989AA2 -6%, #9A9CA4 31%, #8B8C95 89%); }
  .cyl-1 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s4 {
    transform: rotateY(115.71429deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s5 {
    transform: rotateY(141.42857deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s6 {
    transform: rotateY(167.14286deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s7 {
    transform: rotateY(192.85714deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s8 {
    transform: rotateY(218.57143deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s9 {
    transform: rotateY(244.28571deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s11 {
    transform: rotateY(295.71429deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s12 {
    transform: rotateY(321.42857deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .s13 {
    transform: rotateY(347.14286deg) translate3D(-50%, 0, 1.225em); }
  .cyl-1 .face, .cyl-1 .side {
    background-color: #FFFFFF; }

/* .cyl-2 styles */
.cyl-2, .switch {
  cursor: pointer;
  transform: translate3D(4.79167em, -9.04167em, 2.04167em) rotateX(0deg) rotateY(0deg) rotateZ(35deg);
  opacity: 1;
  width: 0.7em;
  height: 4em;
  margin: -2em 0 0 -0.35em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .cyl-2 .tp, .cyl-2 .bm, .switch .tp, .switch .bm {
    width: 0.7em;
    height: 0.7em; }
  .cyl-2 .side, .switch .side {
    width: 0.18477043207310495em;
    height: 4em; }
  .cyl-2 .s0, .switch .s0 {
    transform: rotateY(12.85714deg) translate3D(-50%, 0, 0.325em);
    background: -webkit-linear-gradient(left, #B0B3B9 5%, #B0B3B9 -6%, #B1B4BA 31%, #B0B3B9 89%); }
  .cyl-2 .s1, .switch .s1 {
    transform: rotateY(38.57143deg) translate3D(-50%, 0, 0.325em);
    background: -webkit-linear-gradient(left, #B1B4BA 5%, #B9BCC2 -6%, #B8BBC1 31%, #B9BCC2 89%); }
  .cyl-2 .s2, .switch .s2 {
    transform: rotateY(64.28571deg) translate3D(-50%, 0, 0.325em);
    background: -webkit-linear-gradient(left, #7B7D80 5%, #91959D -6%, #93969B 31%, #989FAD 89%); }
  .cyl-2 .s3, .switch .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .s4, .switch .s4 {
    transform: rotateY(115.71429deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .s5, .switch .s5 {
    transform: rotateY(141.42857deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .s6, .switch .s6 {
    transform: rotateY(167.14286deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .s7, .switch .s7 {
    transform: rotateY(192.85714deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .s8, .switch .s8 {
    transform: rotateY(218.57143deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .s9, .switch .s9 {
    transform: rotateY(244.28571deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .s10, .switch .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .s11, .switch .s11 {
    transform: rotateY(295.71429deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .s12, .switch .s12 {
    transform: rotateY(321.42857deg) translate3D(-50%, 0, 0.325em);
    background: -webkit-linear-gradient(left, #F4F5F7 5%, #ECF0FA -6%, #E2E2E2 31%, #D8DCE4 89%); }
  .cyl-2 .s13, .switch .s13 {
    transform: rotateY(347.14286deg) translate3D(-50%, 0, 0.325em); }
  .cyl-2 .face, .cyl-2 .side, .switch .face, .switch .side {
    background-color: #a5a5a5; }

.switch.active {
  left: 574px;
  transform: translate3D(4.79167em, -9.04167em, 2.04167em) rotateX(0deg) rotateY(0deg) rotateZ(-35deg); }

/* .closer styles */
.closer {
  display: block;
  box-shadow: none; }
  .closer .face {
    background: -webkit-linear-gradient(left, #9a530a 5%, #743e08 -6%, #dd7f1f 31%, #b4610d 89%); }

.closer.active {
  top: 50%;
  left: 50%; }
  .closer.active .face {
    background: -webkit-linear-gradient(left, #9a530a 5%, #743e08 -6%, #dd7f1f 31%, #b4610d 89%); }

/* .cyl-3 styles */
.cyl-3 {
  top: 57.3%;
  left: 40.2%;
  transform: translate3D(-4.08333em, -5em, 2.0em) rotateX(0deg) rotateY(0deg) rotateZ(20deg);
  opacity: 1;
  width: 1.5em;
  height: 5em;
  margin: -2.5em 0 0 -0.75em;
  -webkit-transition: all 0.2s ease-in-out 200ms;
  -moz-transition: all 0.2s ease-in-out 200ms;
  -o-transition: all 0.2s ease-in-out 200ms;
  transition: all 0.2s ease-in-out 200ms; }
  .cyl-3 .tp, .cyl-3 .bm {
    width: 1.5em;
    height: 1.5em; }
  .cyl-3 .side {
    width: 0.36736521158522495em;
    height: 5em; }
  .cyl-3 .s0 {
    transform: rotateY(12.85714deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s1 {
    transform: rotateY(38.57143deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s2 {
    transform: rotateY(64.28571deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s4 {
    transform: rotateY(115.71429deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s5 {
    transform: rotateY(141.42857deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s6 {
    transform: rotateY(167.14286deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s7 {
    transform: rotateY(192.85714deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s8 {
    transform: rotateY(218.57143deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s9 {
    transform: rotateY(244.28571deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s11 {
    transform: rotateY(295.71429deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s12 {
    transform: rotateY(321.42857deg) translate3D(-50%, 0, 0.725em); }
  .cyl-3 .s13 {
    transform: rotateY(347.14286deg) translate3D(-50%, 0, 0.725em); }

/* .cyl-4 styles */
.cyl-4 {
  transform: translate3D(-2.75em, -7.84091em, 1.96212em) rotateX(0deg) rotateY(0deg) rotateZ(40deg);
  opacity: 1;
  width: 1.5em;
  height: 2em;
  margin: -1em 0 0 -0.75em;
  top: 57.1%;
  left: 40.3%;
  -webkit-transition: all 0.2s ease-in-out 200ms;
  -moz-transition: all 0.2s ease-in-out 200ms;
  -o-transition: all 0.2s ease-in-out 200ms;
  transition: all 0.2s ease-in-out 200ms; }
  .cyl-4 .tp, .cyl-4 .bm {
    width: 1.5em;
    height: 1.5em; }
  .cyl-4 .side {
    width: 0.36736521158522495em;
    height: 2em; }
  .cyl-4 .s0 {
    transform: rotateY(12.85714deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s1 {
    transform: rotateY(38.57143deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s2 {
    transform: rotateY(64.28571deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s4 {
    transform: rotateY(115.71429deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s5 {
    transform: rotateY(141.42857deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s6 {
    transform: rotateY(167.14286deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s7 {
    transform: rotateY(192.85714deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s8 {
    transform: rotateY(218.57143deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s9 {
    transform: rotateY(244.28571deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s11 {
    transform: rotateY(295.71429deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s12 {
    transform: rotateY(321.42857deg) translate3D(-50%, 0, 0.725em); }
  .cyl-4 .s13 {
    transform: rotateY(347.14286deg) translate3D(-50%, 0, 0.725em); }

/* .cyl-5 styles */
.cyl-5 {
  transform: translate3D(-1.45455em, -8.91667em, 1.96212em) rotateX(0deg) rotateY(0deg) rotateZ(60deg);
  opacity: 1;
  width: 1.5em;
  height: 2em;
  margin: -1em 0 0 -0.75em;
  top: 57%;
  left: 40.4%;
  -webkit-transition: all 0.2s ease-in-out 200ms;
  -moz-transition: all 0.2s ease-in-out 200ms;
  -o-transition: all 0.2s ease-in-out 200ms;
  transition: all 0.2s ease-in-out 200ms; }
  .cyl-5 .tp, .cyl-5 .bm {
    width: 1.5em;
    height: 1.5em; }
  .cyl-5 .side {
    width: 0.36736521158522495em;
    height: 2em; }
  .cyl-5 .s0 {
    transform: rotateY(12.85714deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s1 {
    transform: rotateY(38.57143deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s2 {
    transform: rotateY(64.28571deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s4 {
    transform: rotateY(115.71429deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s5 {
    transform: rotateY(141.42857deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s6 {
    transform: rotateY(167.14286deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s7 {
    transform: rotateY(192.85714deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s8 {
    transform: rotateY(218.57143deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s9 {
    transform: rotateY(244.28571deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s11 {
    transform: rotateY(295.71429deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s12 {
    transform: rotateY(321.42857deg) translate3D(-50%, 0, 0.725em); }
  .cyl-5 .s13 {
    transform: rotateY(347.14286deg) translate3D(-50%, 0, 0.725em); }

/* .cyl-6 styles */
.cyl-6 {
  transform: translate3D(0.58333em, -9.58333em, 2em) rotateX(0deg) rotateY(0deg) rotateZ(80deg);
  opacity: 1;
  width: 1.5em;
  height: 3em;
  margin: -1.5em 0 0 -0.75em;
  top: 57%;
  display: block;
  left: 485px;
  -webkit-transition: all 0.2s ease-in-out 200ms;
  -moz-transition: all 0.2s ease-in-out 200ms;
  -o-transition: all 0.2s ease-in-out 200ms;
  transition: all 0.2s ease-in-out 200ms; }
  .cyl-6 .tp, .cyl-6 .bm {
    width: 1.5em;
    height: 1.5em; }
  .cyl-6 .side {
    width: 0.36736521158522495em;
    height: 3em; }
  .cyl-6 .s0 {
    transform: rotateY(12.85714deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s1 {
    transform: rotateY(38.57143deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s2 {
    transform: rotateY(64.28571deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s4 {
    transform: rotateY(115.71429deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s5 {
    transform: rotateY(141.42857deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s6 {
    transform: rotateY(167.14286deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s7 {
    transform: rotateY(192.85714deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s8 {
    transform: rotateY(218.57143deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s9 {
    transform: rotateY(244.28571deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s11 {
    transform: rotateY(295.71429deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s12 {
    transform: rotateY(321.42857deg) translate3D(-50%, 0, 0.725em); }
  .cyl-6 .s13 {
    transform: rotateY(347.14286deg) translate3D(-50%, 0, 0.725em); }

/*# sourceMappingURL=style.css.map */
