* {
  box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
  background-color: #fbfbf8;

  //Sitetitle
  .sitetitle {
    margin: 5% auto 0;
    width: 328px;
    
    span {
      font-size: 50px;
      font-family: 'Arialblack';
      font-weight: bold;
      float: left;
    }

    span.title-useless {
      color: gray;
    }

    span.title-box {
      color: orange
    }
  }

  //Boxes with visitors and click count
  .count {
    box-sizing: border-box;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 40px;

    .count-box {
      width: 200px;
      padding: 10px;
      background-color: lightgray;
      margin: 10px 0;

      #activeUsers, #clickCount {
        font-size: 24px;
        font-weight: bold;
      }

      span.title {
        font-size: 24px;
      }

      span.number {
        float: right;
      }
    }
  }
}


//Tridiv area
#tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
}

.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}

.scene {
  z-index: 0;
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
  -webkit-transform:rotateX(-18deg) rotateY(-39deg); -moz-transform:rotateX(-18deg) rotateY(-39deg); -ms-transform:rotateX(-18deg) rotateY(-39deg); transform:rotateX(-18deg) rotateY(-39deg);   
}

.face {
  border: 0px solid gray;
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
  background: -webkit-linear-gradient(left, #7B6E6E 0%,#595D62 1%,#B9BCC2 66%,#3E4042 100%);

  .face {
    //background-color: rgba(0, 0, 0, 0.0588235);
    background-size: 100% 100%!important;
    background-position: center;
    overflow: hidden;
    transform-origin: 0 0;
    backface-visibility: hidden;
    /* hidden by default, prevent blinking and other weird rendering glitchs */

    .photon-shader {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;     
    }
  }

  .face-wrapper .face {
    left: 100%;
    width: 100%;
    height: 100%;
  }

  .side {
    left: 50%;
    height: 100%;
  }
}

//All cubes
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}

[class*="cuboid"] .bk {
  left: 100%;
}

[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}

[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}

[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}

[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}

[class*="cuboid"] .lt {
  left: 100%;
}

[class*="cuboid"] .bm {
  top: 100%;
}

[class*="cylinder"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}

[class*="cylinder"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}

[class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}

[class*="cylinder"] .bm {
  top: 100%;
}

/* .cub-1 styles */
.cub-1 {
  transform:translate3D(0em, -0.3125em, -4.625em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:30em;
  height:10em;
  margin:-5em 0 0 -15em;

  .ft {
    transform:translateZ(0.5em);
    border-right: none;
    background: -webkit-linear-gradient(left, #32323A 5%,#313145 -6%,#52525D 31%,#29292C 89%);
  }

  .bk {
    transform:translateZ(-0.5em) rotateY(180deg);
  }

  .rt{
    width:1em;
    height:10em;
    border-left: none;
  }

  .lt{
    width:1em;
    height:10em;
    border-right: none;
    background: -webkit-linear-gradient(left, #5E5E6B 5%,#5E5E6B -6%,#5E5E6B 31%,#5E5E6B 89%)!important;
  }

  .tp, .bm {
    width:30em;
    height:1em;
      background: -webkit-linear-gradient(left, #32323A 5%, #313145 -6%, #52525D 31%, #29292C 89%);
  }

  .face {
    background-color:#FFFFFF;
  }
}



/* .cub-2 styles */
.cub-2 {
  transform:translate3D(0em, -0.3125em, 9.3125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:30em;
  height:10em;
  margin:-5em 0 0 -15em;

  .ft {
    transform:translateZ(0.5em);
  }

  .bk {
    transform:translateZ(-0.5em) rotateY(180deg);
  }

  .rt {
    width:1em;
    height:10em;
    border-right: none;
  }

  .lt {
    width:1em;
    height:10em;
    background: -webkit-linear-gradient(left, #4B4D4F 5%,#4B4D4F -6%,#4B4D4F 31%,#4D4F51 89%)!important; 
    border-right:none;
  }

  .tp, .bm {
    width:30em;
    height:1em;

  }

  .face {
    background-color:#FFFFFF;
     background: -webkit-linear-gradient(left, #7B6E6E 0%,#595D62 1%,#B9BCC2 66%,#3E4042 100%);
  }
}

/* .cub-3 styles */
.cub-3 {
  transform:translate3D(-14.5em, -0.3125em, 2.375em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:10em;
  margin:-5em 0 0 -0.5em;

  .ft {
    transform:translateZ(6.5em);
  }

  .bk {
    transform:translateZ(-6.5em) rotateY(180deg);
  }

  .rt, .lt {
    width:13em;
    height:10em;
    background: -webkit-linear-gradient(left, #32323A 5%,#313145 -6%,#52525D 31%,#29292C 89%);
  }

  .tp, .bm {
    width:1em;
    height:13em;
    background: -webkit-linear-gradient(left, #32323A 5%,#313145 -6%,#52525D 31%,#29292C 89%);
  }

  .face {
    background-color:#FFFFFF;
  }
}

/* .cub-4 styles */
.cub-4 {
  transform:translate3D(14.5em, -0.3125em, 2.3125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:10em;
  margin:-5em 0 0 -0.5em;

  .ft {
    transform:translateZ(6.5em);
    border-right: none;
    background-color: #4B4D4F;
  }

  .bk {
    transform:translateZ(-6.5em) rotateY(180deg);
  }

  .rt, .lt {
    z-index: 999;
    width:13em;
    height:10em;
    border-left: none;
    border-right: none;
    background: -webkit-linear-gradient(left, #4B4D4F 5%,#4B4D4F -6%,#7E7E8B 31%,#5E5E6B 89%); 
  }
}

/* .cub-5 styles */
.cub-5, .lid {
  transform:translate3D(-7.5em, -6.25em, 2.320075757575758em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:15em;
  height:2em;
  margin:-1em 0 0 -7.5em;
  -webkit-transition: all 0.2s ease-in-out 220ms;
  -moz-transition: all 0.2s ease-in-out 220ms;
  -o-transition: all 0.2s ease-in-out 220ms;
  transition: all 0.2s ease-in-out 220ms;

  .ft {
    transform:translateZ(7.5em);
    background: -webkit-linear-gradient(left, #606469 0%,#64686D 1%,#6F7378 31%,#989BA1 89%);
  }

  .bk {
    transform:translateZ(-7.5em) rotateY(180deg);
  }

  .rt, .lt {
    width:15em;
    height:2em;
    background: -webkit-linear-gradient(left, #4B4D4F 5%,#4B4D4F -6%,#7E7E8B 31%,#5E5E6B 89%);
  }

  .tp {
    width:15em;
    height:15em;
    background: -webkit-linear-gradient(left, #090A0B 0%,#64676E 1%,#7B8084 31%,#A4A4A5 89%);
  }

  .bm{
    width:15em;
    height:15em;
    background: -webkit-linear-gradient(left, #090A0B 0%,#3A3B3F 1%,#3A3C3D 31%,#5E5E6B 89%);
  }

  .face {
    background-color:#FFFFFF;
  }
}

.lid.active {
  top: 46.9%;
  left: 589px;
  transform: translate3D(-7.5em, -6.25em, 2.32008em) rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
}

/* .cub-6 styles */
.cub-6 {
  transform:translate3D(7.5em, -6.25em, 2.3125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:15em;
  height:2em;
  margin:-1em 0 0 -7.5em ;

  .ft {
    transform:translateZ(7.5em);
    background: -webkit-linear-gradient(left, #A7ABB0 0%,#A8ABB1 1%,#B1B4BA 31%,#4B4D4F 89%);
  }

  .bk {
    transform:translateZ(-7.5em) rotateY(180deg);
  }

  .rt, .lt {
    width:15em;
    height:2em;
    background: -webkit-linear-gradient(left, #4B4D4F 5%,#4B4D4F -6%,#7E7E8B 31%,#5E5E6B 89%);
  }

  .tp, .bm {
    width:15em;
    height:15em;
    background: -webkit-linear-gradient(left, #989BA1 5%,#9FA0A1 -6%,#AEB1B7 31%,#5E5E6B 89%);
  }

  .face {
    background-color:#FFFFFF;
  }
}
 
/* .cyl-1 styles */
.cyl-1 {
  transform:translate3D(3.9375em, -7.5em, 2.0625em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2.5em;
  height:0.7em;
  margin:-0.35em 0 0 -1.25em;

  .tp, .bm {
    width:2.5em;
    height:2.5em;
    background: -webkit-linear-gradient(left, #8F8F94 5%,#808098 -6%,#A2A2BA 31%,#76768C 89%);
  }

  .side {
    width:0.5956086859753749em;
    height:0.7em;
    background: -webkit-linear-gradient(left, #8F8F94 5%,#808098 -6%,#A2A2BA 31%,#76768C 89%);
  }

  .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 1.225em);
    background: -webkit-linear-gradient(left, #ADAFB5 5%,#AEB1B7 -6%,#A8AAB1 31%,#95979F 89%);
  }

  .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 1.225em);
    background: -webkit-linear-gradient(left, #AEB1B7 5%,#ADB0B6 -6%,#ADB0B6 31%,#ADB0B6 89%);
  }

  .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 1.225em);
      background: -webkit-linear-gradient(left, #9D9FA7 5%,#989AA2 -6%,#9A9CA4 31%,#8B8C95 89%);
  }

  .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 1.225em);
  }

  .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 1.225em);
  }

  .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 1.225em);
  }

  .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 1.225em);
  }

  .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 1.225em);

  }

  .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 1.225em);
  }

  .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 1.225em);
  }

  .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 1.225em);
  }

  .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 1.225em);
  }

  .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 1.225em);
  }

  .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 1.225em);
  }

  .face, .side {
    background-color:#FFFFFF;
  }
}

/* .cyl-2 styles */
.cyl-2, .switch {
  cursor: pointer;
  transform:translate3D(4.791666666666666em, -9.041666666666666em, 2.0416666666666665em) rotateX(0deg) rotateY(0deg) rotateZ(35deg);
  opacity:1;
  width:0.7em;
  height:4em;
  margin:-2em 0 0 -0.35em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  .tp, .bm {
    width:0.7em;
    height:0.7em;
  }

  .side {
    width:0.18477043207310495em;
    height:4em;
  }

  .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.32499999999999996em);
    background: -webkit-linear-gradient(left, #B0B3B9 5%,#B0B3B9 -6%,#B1B4BA 31%,#B0B3B9 89%);
  }

  .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.32499999999999996em);
    background: -webkit-linear-gradient(left, #B1B4BA 5%,#B9BCC2 -6%,#B8BBC1 31%,#B9BCC2 89%);
  }

  .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.32499999999999996em);
    background: -webkit-linear-gradient(left, #7B7D80 5%,#91959D -6%,#93969B 31%,#989FAD 89%);
  }

  .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.32499999999999996em);
    background: -webkit-linear-gradient(left, #F4F5F7 5%,#ECF0FA -6%,#E2E2E2 31%,#D8DCE4 89%);
  }

  .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.32499999999999996em);
  }

  .face, .side {
    background-color:#a5a5a5;
  }
}

.switch.active {
  left: 574px;
  transform: translate3D(4.79167em, -9.04167em, 2.04167em) rotateX(0deg) rotateY(0deg) rotateZ(-35deg);
}

/* .closer styles */
.closer {
  display: block;
  box-shadow: none;

  .face {
    background: -webkit-linear-gradient(left, #9a530a 5%, #743e08 -6%, #dd7f1f 31%, #b4610d 89%);
  }
}

.closer.active {
  top: 50%;
  left: 50%;

  .face {
    background: -webkit-linear-gradient(left, #9a530a 5%, #743e08 -6%, #dd7f1f 31%, #b4610d 89%);
  }
}

/* .cyl-3 styles */
.cyl-3 {
  top: 57.3%;
  left: 40.2%;
  transform:translate3D(-4.083333333333334em, -5em, 1.9999999999999982em) rotateX(0deg) rotateY(0deg) rotateZ(20deg);
  opacity:1;
  width:1.5em;
  height:5em;
  margin:-2.5em 0 0 -0.75em;
  -webkit-transition: all 0.2s ease-in-out 200ms;
  -moz-transition: all 0.2s ease-in-out 200ms;
  -o-transition: all 0.2s ease-in-out 200ms;
  transition: all 0.2s ease-in-out 200ms;

  .tp, .bm {
    width:1.5em;
    height:1.5em;
  }

  .side {
    width:0.36736521158522495em;
    height:5em;
  }

  .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
  }

  .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
  }

  .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
  }

  .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
  }

  .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
  }

  .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
  }

  .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
  }

  .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
  }

  .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
  }

  .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
  }

  .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
  }

  .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
  }

  .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
  }

  .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
  }
}

/* .cyl-4 styles */
.cyl-4 {
  transform:translate3D(-2.749999999999999em, -7.84090909090909em, 1.9621212121212133em) rotateX(0deg) rotateY(0deg) rotateZ(40deg);
  opacity:1;
  width:1.5em;
  height:2em;
  margin:-1em 0 0 -0.75em;
  top: 57.1%;
  left: 40.3%;
  -webkit-transition: all 0.2s ease-in-out 200ms;
  -moz-transition: all 0.2s ease-in-out 200ms;
  -o-transition: all 0.2s ease-in-out 200ms;
  transition: all 0.2s ease-in-out 200ms;

  .tp, .bm {
    width:1.5em;
    height:1.5em;
  }

  .side {
    width:0.36736521158522495em;
    height:2em;
  }

  .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
  }

  .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
  }
}

/* .cyl-5 styles */
.cyl-5 {
  transform:translate3D(-1.454545454545455em, -8.91666666666667em, 1.9621212121212097em) rotateX(0deg) rotateY(0deg) rotateZ(60deg);
  opacity:1;
  width:1.5em;
  height:2em;
  margin:-1em 0 0 -0.75em;
  top: 57%;
  left: 40.4%;
  -webkit-transition: all 0.2s ease-in-out 200ms;
  -moz-transition: all 0.2s ease-in-out 200ms;
  -o-transition: all 0.2s ease-in-out 200ms;
  transition: all 0.2s ease-in-out 200ms;

  .tp, .bm {
    width:1.5em;
    height:1.5em;
  }
  
  .side {
    width:0.36736521158522495em;
    height:2em;
  }
  
  .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
  }
}

/* .cyl-6 styles */
.cyl-6 {
  transform:translate3D(0.5833333333333333em, -9.583333333333332em, 2em) rotateX(0deg) rotateY(0deg) rotateZ(80deg);
  opacity:1;
  width:1.5em;
  height:3em;
  margin:-1.5em 0 0 -0.75em;
  top: 57%;
  display: block;
  left: 485px;
  -webkit-transition: all 0.2s ease-in-out 200ms;
  -moz-transition: all 0.2s ease-in-out 200ms;
  -o-transition: all 0.2s ease-in-out 200ms;
  transition: all 0.2s ease-in-out 200ms;

  .tp, .bm {
    width:1.5em;
    height:1.5em;
  }
  
  .side {
    width:0.36736521158522495em;
    height:3em;
  }
  
  .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.725em);
  }
  
  .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.725em);
  }
}
